<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notes on the Fridge</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/login"><img id="logo" src="/assets/img/note.png" alt="note logo" /></a>
        </div>
        <a class="navbar-item" href="/logout">Log out</a>
        <a class="navbar-item" href="/note">Note App</a>
    </nav>

    <section id="accountSettings">
        <h3 class="title">Account Settings: </h3>
        <button class="button" type="button" href="/changeUser" id="changeUserBtn">Change Username</button>
        <button class="button" type="button" href="/changePass" id="changePassBtn">Change Password</button>
        {{!-- <a id="changeUserBtn" href="/changeUser">Change Username</a>
        <a id="changePassBtn" href="/changePass">Change Password</a> --}}


        <div id="editingForm">

        </div>
    </section>

    <script src="./assets/settingsBundle.js"></script>
</body>

</html>