@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#notFoundBox {
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

#notFoundBox * {
    margin: 20px;
    font-size: 1.5em;
}

#logo {
    height: 100%;
    width: 100%;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

#premium {
    display: flex;
    flex-direction: row;
    width: 10%;
}

#contentArea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#contentArea img {
    height: 300px;
    width: 300px;
    margin: 30px;
}

#contentArea section {
    width: 50%;
    margin: 30px;
}

#content label {
    margin: 10px;
}

#content input {
    width: 100%;
}

#content button {
    width: 25%;
}

#sorting {
    display: flex;
    width: 25%;
}

#sorting button {
    margin: 20px;
}

#noteList {
    display: flex;
    text-align: center;
    flex-flow: row wrap;
}

#noteList form {
    margin: 10px;
    border: 1.5px solid black;
}

.media {
    width: 25%;
    height: 300px;
    padding: 20px;
    background-color: yellow;
}

a.navbar-item {
    color: white;
}

a.navbar-item:link a.navbar-item:hover {
    color: black;
}

#accountSettings {
    display: block;
    margin: 50px;
    text-align: left;
    font-size: 1.25em;
}

#editingForm {
    width: 60%;
    margin: 50px;
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

.hidden {
    display: none;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}